.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}
.cente{
padding: 75px 0 55px;
text-align: center;
}
.alicenter{
text-align: center;
}
.iconblock, .cente .info, .features .iconblock, .features .info {
    padding: 70px 0 30px;
    margin: 0 auto;
}
.iconblock, .info {
    max-width: 360px;
}
.iconblock .icon > i, .info .icon > i {
    font-size: 61.6px;
}